@page
@model IndexModel
@{
    ViewData["Title"] = "AMS Web App - Home page";
}

<style>
    div {
        width: 50%;
        text-align: center;
    }
    
</style>

<div class="text-center">
    <h1 class="display-4">Attendance Management System (AMS) Web App v1.0</h1>
    <p><b>AMS Web App</b> is a ASP.NET Razor Web Application that supports the feature intended for the Admin users of AMS.</p>
    <p>Admin Users of AMS are those who have elevated priviledge in managing the gatherings/meetings of the system. They can
    create new gathering, edit an existing gathering, or delete an existing gathering. This Web App shows Attendance Summary too.</p>
</div>

