@page
@model CMP1005_AMSWebApp.Pages.NewGatheringModelModel
@{
    ViewData["Title"] = "New Gathering/Meeting";
}

<h1>New Gathering/Meeting</h1>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
