@page
@model CMP1005_AMSWebApp.Pages.NewGatheringModelModel
@{
    ViewData["Title"] = "New Gathering/Meeting";
}

<h1>New Gathering/Meeting</h1>
<form>
    <p>
        Gathering Name: <input type="text" asp-for="GatheringEvent.GatheringLabel" />
    </p>
    <p>Gathering Date: <input type="datetime" asp-for="GatheringEvent.GatheringDate" /></p>
    <p>Gathering Delivery: <input type="text" asp-for="GatheringEvent.Delivery" /></p>
    <p>Gathering Remarks: <input type="text" asp-for="GatheringEvent.Remarks" /></p>

</form>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
