@page
@model CMP1005_AMSWebApp.Pages.NewGatheringModelModel
@{
    ViewData["Title"] = "New Gathering/Meeting";
}
<style>
    p {
        align-content: center;
    }
    h1 {
        align-content: center;
    }
    form {
        align-content: center;
    }
</style>
<h1>New Gathering/Meeting</h1>
<form method="post">
    <p>
        Gathering Name: <input type="text" asp-for="newGathering.GatheringLabel" />
    </p>
    <p>Gathering Date: <input type="datetime" asp-for="newGathering.GatheringDate" /></p>
    <p>Gathering Delivery: <input type="text" asp-for="newGathering.Delivery" /></p>
    <p>Gathering Remarks: <input type="text" asp-for="newGathering.Remarks" /></p>
    <input type="submit" class="btn btn-primary" />
    <a href="/AttendanceSummaryModel" class="btn btn-primary">Cancel</a>

</form>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
