<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/f7f50693-6a0f-4702-9ed0-c7783aec39f1/resourceGroups/rg-AttendanceManagementSystem/providers/Microsoft.Web/sites/AMSWebApiService</ResourceId>
    <ResourceGroup>rg-AttendanceManagementSystem</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <PublishUrl>https://amswebapiservice.scm.azurewebsites.net/</PublishUrl>
    <SiteUrlToLaunchAfterPublish>https://amswebapiservice.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <UserName>$AMSWebApiService</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>